*{
    font-family:'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    margin:44px 0 144px 76px;
    
    }



.link-header{
    font-weight: 600;
    font-size: 24px;
    color:rgba(152, 157, 156, 1);
    cursor: pointer;
    margin-right: 23px;
}

.button-header{
    width: 130px;
    height: 41px;
    border-radius: 50px;
    color:#FFFFFF;
    background: #665AE1 ;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}

.logo-image{
    width: 568px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 86px;
}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #2d084b;
}

h2{
    font-weight: 500;
    font-size: 58px;
    color: #b91818;
}

p{
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    color: #848484;
    line-height:29px ;
    margin-top: 32px;
    margin-bottom: 65px;

}

.button-main{
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 2, 0.25));
    color: #000000;
}


@media screen and (max-width: 600px){

            *{
                padding: 0;
            }

    header{
        display: none;
        padding: 0;
     
        
        }

        main{

            display: block;
            width: 50%; 
            height: 20%;
            position:absolute;
            margin-top: 30px;
            left: 0px;

             }

        .logo-image{
           
            width: 354px;
            height: 317px;
            display: block;
            margin-left: 10px;
            

        }

        h1{
            width: 263px;
            height: 52px;
            font-weight: 900;
            font-size: 50px;
            text-align: center;
        }

        h2{
            
            width: 232px;
            height: 37px;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            margin-top: 50px;
            
        }

        p{
            display: none;
        }

        .button-main{
            width: 239px;
            height: 64px;

            margin-top: 30px;
            
        }


}